# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_URL=wss://vithai-9ixppykq.livekit.cloud
LIVEKIT_API_KEY=APIgKZjghUaetBs
LIVEKIT_API_SECRET=WmS7ltq7VYjhgh1NLwKaQ7Ofufh4syVzko5LKFfZfz8D


# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME=

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=https://voice-agent-zxhq.onrender.com
SANDBOX_ID=
